{% from "_formhelpers.html" import render_field %}
{% extends "template.html" %}
{% block content %}
<div id="signin">
  <!-- https://getbootstrap.com/docs/4.0/components/forms/ -->
  <form class="form-signin" novalidate method="POST">
    {{form.hidden_tag()}}
  
    {{ render_field(form.username, class="form-control") }}
    {{ render_field(form.password, class="form-control") }}

    <div class="form-group form-check">
      {{ form.remember_me(class="form-check-input") }}
      {{ form.remember_me.label(class="form-check-label") }}
    </div>
  
    {{ form.submit(class="btn btn-primary") }} 
  </form>
</div>
{% endblock %}
